body {
    border: 15px solid grey;
    padding: 18px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

h2 {
    font-weight: 800;
    font-size: 32px;
    margin: 10px 0;
    text-transform: uppercase;
}

.date {
    color: #0196c4;
    letter-spacing: 2px;
    border-bottom: 1px dotted grey;
    width: 20%;
}

/*For the episode number*/
.exp {
    text-align: center;
    font-family: 'Raleway', sans-serif;  
    font-weight: 200;
    font-style: italic;
}

/*For the seperator under the episode number*/
.para:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 10px auto 30px auto; /* This will center the border. */
    width: 69%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid grey; /* This creates the border. Replace black with whatever color you want. */
    opacity: 0.5;
}
